<!DOCTYPE html>
<html>
    <body>
            <header>
                    <h1 style="text-align:center">COLLEGE OF ENGINEERING AND TECHNOLOGY,BHUBANESWAR</h1>
                    <h2 style="text-align: center">ATTENDANCE SHEET</h2>
            </header>
            <table>
                    <thead>
                            <tr>
                                    SL
                            </tr>
                            <tr>
                                    Name
                            </tr>
                            <tr>
                                    Registration Number
                            </tr>
                            <tr>
                                    Signature
                            </tr>
                    </thead>
                    <tbody>
                            
                    </tbody>
            </table>
    </body>
    
</html>